@import 'blocks/_promo';
@import 'blocks/_about';
@import 'blocks/_general';
@import 'blocks/_jobs';
@import 'blocks/_contacts';
@import 'blocks/_footer';


* {
    font-family: Sansumi; /* Имя шрифта */
    src: url(/src/fonts/deathStranding/Sansumi-Regular.ttf); /* Путь к файлу со шрифтом */ 
    
}
    @font-face {
        font-family: Sansumi; /* Имя шрифта */
        src: url(/src/fonts/deathStranding/Sansumi-Regular.ttf); /* Путь к файлу со шрифтом */
       }



