.about {
    
    min-height: 500px;
    background-color: rgb(233, 231, 231);
    &__wrapper {
        display: flex;
        

        
    }

    &__descr {
        padding-left: 30px;
    }
    &__overlay {
        display: block;
        text-align: center;
    }
    &__items {
        display: flex;
        padding-top: 60px;
        width: 700px;
        align-content: space-between;
        flex-wrap: wrap;
        
    }

    &__descr {
        padding: 4%;
        width: 500px;
        font-size: 17px;
        font-weight: 700;
    }
}