.title {
    padding-top: 70px;
    font-size: 30px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
    
}

.line {
    border: solid #337AB7 2px;
    width: 260px;
    display: block;
    margin: 0 auto;

}

.descr {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 750px;
    padding-top: 30px;
}

.text {
    text-align: center;
    padding-top: 30px;
}

.frame {
    width: 165px;
    height: 180px;
    padding: 5%;
    border: 1px solid silver;
    margin: 10px auto;
    border-radius: 5%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    &:hover {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
    }

    

    
    img {
        
        text-align: center;
        height: 100px;
        width: 100px;
    }
}