.title {
    padding-top: 70px;
    font-size: 40px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    
}

.line {
    border: solid red 2px;
    width: 220px;
    display: block;
    margin: 0 auto;

}

.descr {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 750px;
    padding-top: 30px;
}