.jobs {
    min-height: 600px;
    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 50px;

        

    }
    &__item {
        position: relative;
        padding-top: 30px;
        &:hover {
            background: rgba(44, 218, 10, 0);
        }
        
        
        img {
            width: 500px;
            min-height: 400px;
            justify-content: space-between;
            margin: 0 auto;
            
        }
        &_link {
            position: absolute;
            left: 33%;
            bottom: 6%;
            height: 38px;
            width: 170px;
            text-align: center;
            padding: 5px;
            border: solid white 2px;
            color: white;
            font-weight: 700;
            &:hover {
                text-decoration: none;
                color: black;
                background-color: white;
                transition: all 0.3s ease-out;
                
            }
        }

    }
}

