@charset "UTF-8";
* {
  margin: 0;
}

header {
  background-color: rgba(0, 0, 0, 0.6);
  display: fixed;
  top: 0;
}

.promo {
  background: url("/src/img/BG_Promo-min.jpg") center center/cover no-repeat;
  height: 100vh;
}

.promo__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 0;
  padding: 8px 0;
  max-height: 40px;
}

.promo__item {
  list-style-type: none;
}

.promo__link {
  color: white;
}

.promo__link:hover {
  color: red;
  text-decoration: none;
}

.promo__title {
  padding-top: 200px;
  text-align: center;
  font-size: 6rem;
  color: white;
}

.promo__subtitle {
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

.promo a {
  text-decoration: none;
  color: white;
}

.promo__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
}

.promo__social img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  margin-left: 10px;
}

.arrow {
  left: 50%;
  position: absolute;
  bottom: 50px;
  width: 40px;
  height: 40px;
}

.arrow:before {
  content: '';
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-left: 5px solid #337AB7;
  border-bottom: 5px solid #337AB7;
  -webkit-transform: translate(26px, 106px) rotate(-45deg);
          transform: translate(26px, 106px) rotate(-45deg);
  -webkit-animation: arrow 3s linear infinite;
          animation: arrow 3s linear infinite;
}

.arrow:after {
  content: '';
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-left: 5px solid #337AB7;
  border-bottom: 5px solid #337AB7;
  -webkit-transform: translate(53px, 0px) rotate(-45deg);
          transform: translate(53px, 0px) rotate(-45deg);
  -webkit-animation: arrow 3s linear infinite -1.5s;
          animation: arrow 3s linear infinite -1.5s;
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
    -webkit-transform: translate(-13px, -53px) rotate(-45deg);
            transform: translate(-13px, -53px) rotate(-45deg);
  }
  10%, 90% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    border-left: 5px solid #337AB7;
    border-bottom: 5px solid #337AB7;
    -webkit-transform: translate(-13px, 0px) rotate(-45deg);
            transform: translate(-13px, 0px) rotate(-45deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-13px, 53px) rotate(-45deg);
            transform: translate(-13px, 53px) rotate(-45deg);
  }
}

@keyframes arrow {
  0% {
    opacity: 0;
    -webkit-transform: translate(-13px, -53px) rotate(-45deg);
            transform: translate(-13px, -53px) rotate(-45deg);
  }
  10%, 90% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    border-left: 5px solid #337AB7;
    border-bottom: 5px solid #337AB7;
    -webkit-transform: translate(-13px, 0px) rotate(-45deg);
            transform: translate(-13px, 0px) rotate(-45deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-13px, 53px) rotate(-45deg);
            transform: translate(-13px, 53px) rotate(-45deg);
  }
}

.about {
  min-height: 500px;
  background-color: #e9e7e7;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__descr {
  padding-left: 30px;
}

.about__overlay {
  display: block;
  text-align: center;
}

.about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  width: 700px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__descr {
  padding: 4%;
  width: 500px;
  font-size: 17px;
  font-weight: 700;
}

.title {
  padding-top: 70px;
  font-size: 30px;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
}

.line {
  border: solid #337AB7 2px;
  width: 260px;
  display: block;
  margin: 0 auto;
}

.descr {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 750px;
  padding-top: 30px;
}

.text {
  text-align: center;
  padding-top: 30px;
}

.frame {
  width: 165px;
  height: 180px;
  padding: 5%;
  border: 1px solid silver;
  margin: 10px auto;
  border-radius: 5%;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.frame:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.frame img {
  text-align: center;
  height: 100px;
  width: 100px;
}

button {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 50px auto;
  padding: 8px;
  width: 25%;
  background: #fff;
  /* запасной цвет для старых браузеров */
  background: rgba(44, 218, 10, 0);
  border-radius: 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

button:hover {
  background: #337AB7;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.jobs {
  min-height: 600px;
}

.jobs__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 50px;
}

.jobs__item {
  position: relative;
  padding-top: 30px;
}

.jobs__item:hover {
  background: rgba(44, 218, 10, 0);
}

.jobs__item img {
  width: 500px;
  min-height: 400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.jobs__item_link {
  position: absolute;
  left: 33%;
  bottom: 6%;
  height: 38px;
  width: 170px;
  text-align: center;
  padding: 5px;
  border: solid white 2px;
  color: white;
  font-weight: 700;
}

.jobs__item_link:hover {
  text-decoration: none;
  color: black;
  background-color: white;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

* {
  font-family: Sansumi;
  /* Имя шрифта */
  src: url(/src/fonts/deathStranding/Sansumi-Regular.ttf);
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Sansumi;
  /* Имя шрифта */
  src: url(/src/fonts/deathStranding/Sansumi-Regular.ttf);
  /* Путь к файлу со шрифтом */
}
/*# sourceMappingURL=style.css.map */